body {
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(
            rgba(88, 24, 124, 0.85),
            rgba(88, 24, 124, 0.85)
        ),
        url("/static/healthcare.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login card */
.container {
    background: white;
    padding: 35px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #58187c;
}

label {
    font-weight: 600;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #58187c;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #6f2b91;
}

